
body {
    background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/174/438/original/colorful-sky-with-sun-background-mountains-sunset-sunrise.jpg?1759523387");
}
.weather-app {
    background: white;
    max-width: 600px;
    margin: 45px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100. 0.8);
    border-radius: 16px;
    font-family: zelando sans, sans-serif;
}



